# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*~
\#*\#

# sdf3
sdf3bench/
sdfg_buffersizing.zip
sdfg_throughput.zip
script/
sdf3-140724.zip
sdf3/
sdf3mem/
sdf3cs/
sdfg_designflow_case_study.zip

# result
/*.log

/debug
/release

# Eclipse files
.cproject
.project
.settings/

# generation
/*.txt
/*.png
/*.dot
/Debug/
/Release/
/Testing/
CSDF_KPeriodicScheduling_*.xml
software_noc_*.xml

/*.xml
/*.lp
/.ipynb_checkpoints
/ascent_pictures/