# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*~
\#*\#

# sdf3
sdf3bench
sdfg_throughput.zip
script/
sdf3-140724.zip
sdf3/

# result
/*.log

/debug
/release

# Eclipse files
.cproject
.project
